body {
    font-family: Lato,"Segoe UI","Microsoft YaHei",Arial,Helvetica,sans-serif!important;
    background: #111f42;
    color: #acb8d0;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}
a,a:active{
	text-decoration: none;
  color: #00a7f4;
}
.markdown:not(code).file-view {
    padding: 2em 2em 2em!important;
    width: 1200px;
    margin: 20px auto;
}
.markdown:not(code) {
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size: 16px;
    line-height: 1.6!important;
    word-wrap: break-word;
}
.markdown:not(code) h1:first-of-type, .markdown:not(code) h2:first-of-type, .markdown:not(code) h3:first-of-type, .markdown:not(code) h4:first-of-type, .markdown:not(code) h5:first-of-type, .markdown:not(code) h6:first-of-type {
    margin-top: 0!important;
}
.markdown:not(code) h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    /*border-bottom: 1px solid #eee;*/
}
.markdown:not(code) h1, .markdown:not(code) h2, .markdown:not(code) h3, .markdown:not(code) h4, .markdown:not(code) h5, .markdown:not(code) h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 1.4;
}
.markdown:not(code) blockquote, .markdown:not(code) dl, .markdown:not(code) ol, .markdown:not(code) p, .markdown:not(code) pre, .markdown:not(code) table, .markdown:not(code) ul {
    margin-top: 0;
    margin-bottom: 16px;
}
.markdown:not(code) code, .markdown:not(code) tt {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
}
.markdown:not(code) code:after, .markdown:not(code) code:before, .markdown:not(code) tt:after, .markdown:not(code) tt:before {
    letter-spacing: -.2em;
    content: "\00a0";
}
.markdown:not(code) pre {
    word-wrap: normal;
}
.markdown:not(code) .highlight pre, .markdown:not(code) pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #051433;
    border-radius: 3px;
}
.markdown:not(code) blockquote, .markdown:not(code) dl, .markdown:not(code) ol, .markdown:not(code) p, .markdown:not(code) pre, .markdown:not(code) table, .markdown:not(code) ul {
    margin-top: 0;
    margin-bottom: 16px;
}
.markdown:not(code) pre code, .markdown:not(code) pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.markdown:not(code) pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0;
}
.hljs {
    background: inherit!important;
    padding: 0!important;
}
code, pre {
    font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace;
}